<div class="container-fluid" align="center">
	<div class="sign-up-box">
			<div class="free-guide">
				Thanks for signing up!
				<br>
				<br>
				A professional financial consultant will contact you soon.
			</div>
	</div>
</div>