@import 'bootstrap';
@import url(https://fonts.googleapis.com/css?family=Oswald);


.full-width-banner{
  background: #093E67;
  width: 100%;
  padding-bottom: 40px;
  padding-top: 10px;
  border-bottom: solid;
  border-width: 3px;
  border-color: orange;
}

.phone{
  color: orange;
  font-size: 22px;
  margin-left: 5px;
  padding-top: 15px;
}

.house{
  position: absolute;
  width: 225px;
  margin-top: -30px;
}


.first-title{
  font-family: 'Oswald' sans-serif;
  font-size: 45px;
  color: #373737;
  line-height: 50px;
  background: none;
  margin-left: -15px;
  padding-bottom: 55px;
  padding-top: 20px;
}

.emp-text{
  color: #d06338;
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
}

.arrow{
  position: absolute;
  margin-top: -50px;
  margin-left: -35px;
}

.progress{
  width: 250px;
  margin-left: 50px;
}

.sign-up-box{
  width: 350px;
  background-color: #eee;
  padding: 40px;
  margin-top: -15px;
  border-radius: 15px;
  text-align: center;
  border: solid;
  border-width: 1px;
  border-color: #7a7a7a;
  box-shadow: 3px 1px 7px #7a7a7a;
}

.free-guide{
  color: #d06338;
  font-family: 'Oswald';
  font-size: 30px;
  line-height: 33px;
  text-align: center;
  margin-bottom: 40px;
}

.submit{
  font-weight: bold;
  font-family: 'Gill Sans',Arial,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  color: white;
  display: block;
  background: #24B544;
  border-radius: 0px;
  border-color: #24B544;
  padding: 10px 35px 10px 35px;
  cursor: pointer;
  border: none;
  width: 50px;
}

.submit:hover{
  color: black;
}

.bottom-info{
  background: none;
  color: #373737;
  font-size: 18px;
  line-height: 22px;
  margin-top: -35px;
  padding-top: 0px;
}

.more-info-title{
  padding-bottom: 15px;
  font-family: 'Oswald';
  font-size: 24px;
  color: #093E67;
  padding-top: 20px;
  line-height: 25px;
}


.form-part-1{
  text-align: left;
}

.form-part-2{
  display: none;
  text-align: left;
}

.form-part-3{
  display: none;
  text-align: left;
}

.one-line-form{
  margin-left: 60px;
}

.bbb{
  width: 130px;
  margin-left: 150px;
  margin-top: 10px;
  opacity: 0.8;
}


body {
  color: #373737;
  padding: 0px 0px 40px 0px;
  font-family: 'Gill Sans' sans-serif;
  font-size: 13px;
  line-height: 18px;
  background: #D7E5EF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p, ol, ul, td {
  font-family: 'Gill Sans' sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 0px;
  background: none;
  display: table;
  color: red;
  font-family: 'Gill Sans';
}

.message{
  color: red;
  margin-top: -5px;
  padding-bottom: 5px;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

input[type='text'], input[type='email']{
  height: 30px;
  border-radius: 0px;
  font-family: 'Gill Sans';
  font-size: 17px;
  color: black;
  -webkit-font-smoothing: antialiased;
  border-color: #ccc;
}

label{
  color: #373737;
  font-family: 'Gill Sans';
  font-weight: bold;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;

}
